<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/sitios/css/styles.css" />
    <title>AT YOU SERVICE</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <div class="navbar-brand">
          <a href="index.ejs">
            <img src="../img/Grupo 13.svg" alt="AT YOU SERVICE" />
          </a>
        </div>

        <ul class="navbar-nav-left">
          <li>
            <a href="#">Menu</a>
          </li>
          <li>
            <a href="#">Recomendaciones</a>
          </li>
          <li>
            <a href="#">¿Quienes somos?</a>
          </li>
          <li>
            <a href="#">Metodos de pago</a>
          </li>
        </ul>

        <ul class="navbar-nav-right">
          <li>
            <a href="#">
              <img src="../img/marker.svg" alt="" />
              <span>Ubicacion</span>
            </a>
          </li>
          <li><button class="btn btn-dark-outline">Iniciar Sesion</button></li>
          <li><button class="btn btn-dark">Unirse</button></li>
        </ul>

        <!-- Hamburger Menu -->
        <button type="button" class="hamburger" id="menu-btn">
          <span class="hamburger-top"></span>
          <span class="hamburger-middle"></span>
          <span class="hamburger-bottom"></span>
        </button>
      </div>
    </nav>

    <!-- Mobile Menu -->
    <div class="mobile-menu hidden" id="menu">
      <ul>
        <li>
          <a href="#">Menu</a>
        </li>
        <li>
          <a href="#">Recomendaciones</a>
        </li>
        <li>
          <a href="#">¿Quienes somos?</a>
        </li>
        <li>
          <a href="#">Metodos de pago</a>
        </li>
      </ul>

      <div class="mobile-menu-bottom">
        <button class="btn btn-dark-outline">Iniciar Sesion</button>
        <button class="btn btn-dark">Unirse</button>
        <div>
          <a href="#">
            <img src="../img/marker.svg" alt="" />
            <span>Find a store</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Box A -->
    <section class="box box-a bg-primary text-center py-md">
      <div class="box-inner">
        <h2 class="text-xl">Sientete como en el espacio con los mejores sabores</h2>
        <p class="text-md">
          Con AT YOU SERVICE®.
          <a href="#">Aprende más</a>
        </p>
      </div>
    </section>

    <!-- Box B -->
    <section class="box box-b bg-secondary grid-col-2">
      <img src="../img/noche-estrellada-en-la-ciudad_1920x1080_xtrafondos.com.jpg" alt="" />
      <div class="box-text">
        <h2 class="text-xl">Nuevo sentido</h2>
        <p class="text-md">
          Para cualquier paladar, y para cualquier gusto.
        </p>
        <a href="#" class="btn btn-light-outline">Ordena ahora</a>
      </div>
    </section>

    <!-- Box C -->
    <section class="box box-c bg-secondary grid-col-2 grid-reversed">
      <img src="../img/viva-la-vida-restaurante.jpg" alt="" />
      <div class="box-text">
        <h2 class="text-xl">Momentos inmemorables</h2>
        <p class="text-md">
          Ven y conoce nuestros platillos y a las especialidades y promociones que 
          tenemos para ti.
        </p>
        <a href="#" class="btn btn-light-outline">Ordena ahora</a>
      </div>
    </section>

    <!-- Box D -->
    <section class="box box-d bg-primary grid-col-2">
      <img src="../img/r3fd-exterior-Cielito-Rico-Restaurante.jpg" alt="" />
      <div class="box-text">
        <h2 class="text-xl">Mezcla de acción de gracias a at your service</h2>
        <p class="text-md">
          Este elegante lugar te hara sentir, la mejor comida del mundo, ven y pruebalo.
        </p>
        <a href="#" class="btn btn-light-outline">Ordena ahora</a>
      </div>
    </section>

    <!-- Box E -->
    <section class="box box-e bg-secondary grid-col-2 grid-reversed">
      <img src="../img/bar-y-cocteles-en-san.jpg" alt="" />
      <div class="box-text">
        <h2 class="text-md">Combatiendo el hambre estas vacaciones</h2>
        <p class="text-sm">
          El hambre está afectando a millones de personas en todo mexico este feriado
          estación. Únase a nosotros en nuestro compromiso de aliviar el hambre y ayudar a alimentar
          vecinos necesitados.
        </p>
        <a href="#" class="btn btn-light-outline">Conoce mas</a>
      </div>
    </section>

    <!-- Box F -->
    <section class="box box-f grid-col-2">
      <div>
        <img src="../img/THG_Jade_03_restaurantes_background_3600x1800px_b8206c4c21.jpg" alt="" />
        <div class="bg-extra py-lg">
          <div class="box-text">
            <h2 class="text-md">Ven y siente el cielo con nuestra comida</h2>
            <p class="text-sm">
              Los mejores momentos. con AT YOU SERVICE®
              Si no eres de san juan del rio y quieres comida san juanense este es el mejor lugar.
            </p>
            <a href="#" class="btn btn-dark-outline">Ordena ahora</a>
          </div>
        </div>
      </div>
      <div>
        <img src="../img/noche-estrellada-en-la-ciudad_1920x1080_xtrafondos.com.jpg" alt="" />
        <div class="bg-primary py-lg">
          <div class="box-text">
            <h2 class="text-md">Pasa los mejores dias con nosotros</h2>
            <p class="text-sm">
              
            </p>
            <a href="#" class="btn btn-light-outline">Ordena ahora</a>
          </div>
        </div>
      </div>
    </section>
    <script src="script.js"></script>
  </body>
</html>