</button>
      <nav class="navbar">
        <div class="navbar-container">
          <div class="navbar-brand">
            <a href="index.ejs">
              <img src="/views/img/Grupo 13.svg" alt="AT YOU SERVICE" />
            </a>
          </div>
  
          <ul class="navbar-nav-left">
            <li>
              <a href="#">Menu</a>
            </li>
            <li>
              <a href="#">Recomendaciones</a>
            </li>
            <li>
              <a href="#">¿Quienes somos?</a>
            </li>
            <li>
              <a href="#">Metodos de pago</a>
            </li>
          </ul>
  
          <ul class="navbar-nav-right">
            <li>
              <a href="#">
                <img src="img/marker.svg" alt="" />
                <span>Ubicacion</span>
              </a>
            </li>
            <li><button class="btn btn-dark-outline">Iniciar Sesion</button></li>
            <li><button class="btn btn-dark">Unirse</button></li>
          </ul>
  
          <!-- Hamburger Menu -->
          <button type="button" class="hamburger" id="menu-btn">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
          </button>
        </div>
      </nav>
    </div>
  </nav>