<div class="divider"></div>

    <footer class="footer">
      <div class="footer-container">
        <div class="social">
          <a href="https://spotify.com">
            <img src="../img/social-spotify.svg" alt="" />
          </a>
          <a href="https://facebook.com">
            <img src="../img/social-facebook.svg" alt="" />
          </a>
          <a href="https://instagram.com">
            <img src="../img/social-instagram.svg" alt="" />
          </a>
          <a href="https://twitter.com">
            <img src="../img/social-twitter.svg" alt="" />
          </a>
        </div>
        <p>© 2023 AT YOU SERVICE Company. Todos los derechos reservados por los autores.</p>
      </div>
    </footer>
  </body>
</html>