<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo de restaurante</title>
    <link rel="stylesheet" href="/views/templates/codigo_extra/css extra/estilo.css">
</head>
<body>
    <div class="fondo">

        <div class="R1">
            <center>
                <br><img src="/Implementos/Logo mod.png" alt="imagen logo" height="100px">
                <br><h1>At Your Service</h1><br>
                <h3>Ingresa el codigo de tu restaurante!!</h3><br>
                <div class="box1">nose</div><br>
                <a href="/principal.html"><button type="button">Ver el menú!!</button></a><br><br>
                <a href="/index.html"><button type="button">Regresar</button></a>
            </center>
        </div>
    </div>
</body>
</html>