<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios</title>
    <link rel="stylesheet" href="/views/templates/codigo_extra/css extra/estilo2.css">
</head>

<header>
    <main class="box1">
        <a href="/principal.html"><button class="BarraM">Inicio</button></a>
        <a href="/comentarios.html"><button class="BarraM">Calificación de los usuarios</button></a>
        <a href="/menu.html"><button class="BarraM">Modificaciones del menú</button></a> 
        <a href="/index.html"><button class="logout">Log-out</button></a>
    </main>
</header>

<body>
    <h1>Comentarios acerca de su negocio.</h1><br><br>
    <center>
        <img src="/Implementos/Comentarios parte 3 1.png" alt="imagen de referencia" height="1600px">
    </center>  
</body>
</html>