<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comidas</title>
    <link rel="stylesheet" href="/views/templates/codigo_extra/css extra/estilo2.css">
</head>

<header>
    <main>
        <a href="/principal.html"><button type="button" class="BarraM">Inicio</button></a>
        <a href="/comentarios.html"><button type="button" class="BarraM">Calificación de los usuarios</button></a>
        <a href="/menu.html"><button type="button" class="BarraM">Modificaciones del menú</button></a> 
        <a href="/index.html"><button type="button" class="logout">Log-out</button></a>
    </main>
</header>

<body>
    <center><h2>Comidas del menú.</h2></center>

    <a href="/menu.html">Regresar</a><br><br>

    <center>
        <a href="">
            <div class="Caja1">
                Representación #1.
            </div>
        </a>
<br>
        <div class="Caja1">
            Representación #2.
        </div>
    </center>

</body>
</html>