<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/views/templates/codigo_extra/css extra/estilo2.css">
</head>

<header>
    <main class="box1">
        <a href="/principal.html"><button class="BarraM">Inicio</button></a>
        <a href="/comentarios.html"><button class="BarraM">Calificación de los usuarios</button></a>
        <a href="/menu.html"><button class="BarraM">Modificaciones del menú</button></a> 
        <a href="/index.html"><button class="logout">Log-out</button></a>
    </main>
</header>

<body>
    <h1>Menú de su restaurante.</h1><br>
    <div class="box2">
        Comidas.
        <a href="/Pag-Ex/Comidas.html">>>></a>
        <center><img src="/Implementos/Comida.png" alt="imagen referencia 1" height="170px"></center>
    </div><br>

    <div class="box2">
        Bebidas.
        <a href="/Pag-Ex/Bebidas.html">>>></a>
        <center><img src="/Implementos/Bebidas.png" alt="imagen referencia 2" height="170px"></center>
    </div><br>

    <div class="box2">
        Postres.
        <a href="/Pag-Ex/Postres.html">>>></a>
        <center><img src="/Implementos/Postres.png" alt="imagen referencia 3" height="170px"></center>
    </div><br>

</body>
</html>