<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal</title>
    <link rel="stylesheet" href="/views/templates/codigo_extra/css extra/estilo2.css">
</head>

<header>
    <main>
        <a href="/principal.html"><button type="button" class="BarraM">Inicio</button></a>
        <a href="/comentarios.html"><button type="button" class="BarraM">Calificación de los usuarios</button></a>
        <a href="/menu.html"><button type="button" class="BarraM">Modificaciones del menú</button></a> 
        <a href="/index.html"><button type="button" class="logout">Log-out</button></a>
    </main>
</header>

<body>
    <section>
        <h1>Tu pagina.</h1><br>
        <h3>Ultimos comentarios.</h3><br>
        <center><img src="/Implementos/Comentarios parte 2.png" alt="imagen de referencia 1" height="310px"></center><br>
        <h3>Datos Generales.</h3><br>
        <center><img src="/Implementos/Datos gen.png" alt="imagen de referencia 2" height="130px"></center><br>
    </section>
</body>

<footer>
    <label>© Copyright - Derechos reservados. </label>
    <a href="/Pag-Ex/RedesS.html">Redes Sociales</a>
    <a href="/Pag-Ex/They.html">¿Quiénes Somos?</a>
</footer>

</html>