<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar</title>
    <link rel="stylesheet" href="/views/templates/codigo_extra/css extra/estilo.css">
</head>
<body>
    <div class="fondo">

        <div class="R1">
            <center>
                <br><img src="/Implementos/Logo mod.png" alt="imagen logo" height="100px">
                <br><h1>At Your Service</h1><br>
                <h5>Ingresa tu correo de recuperación!!</h5><br>
                <div class="box1">nose</div><br>
                <a href=""><button type="button">Enviar codigo de recuperación!!</button></a><br><br>
                <a href="/index.html"><button type="button">Regresar</button></a>
            </center>
        </div>
    </div>
</body>
</html>