<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/views/templates/codigo_extra/css extra/estilo.css">
</head>
<body>
        <center>
            <div class="Reg">
                <br><h1>Registra tu negocio!!</h1><br><br>
            <form action="get">
                <br><img src="/Implementos/Logo mod.png" alt="imagen logo" height="100px"><br>
                <p>Ingresa el nombre de tu negocio.</p>
                <input type="text" name="NombreN" id="Negocio"><br>
                <p>Ingresa la dirección de tu negocio (Junto con su número de locación).</p>
                <input type="text" name="DireccionN" id="Direccion"><br>
                <p>Crea una descripción para tu negocio.</p>
                <input type="text" name="DescripcionN" id="Descripcion"><br>
                <p>Correo Electronico.</p>
                <input type="text" name="CorreoN" id="Correo"><br>
                <p>Número telefonico.</p>
                <input type="text" name="TelefonoN" id="Telefono"><br>
                <br>
                <button type="submit">Registrarse</button>
                <button><a href="/index.html">Regresar</a></button>
            </form>
        </center>
    </div>
</body>
</html>