<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quienes Somos?</title>
    <link rel="stylesheet" href="/views/templates/codigo_extra/css extra/estilo2.css">
</head>
<body>
    <br><h1>¿Quienes Somos?</h1><br><br>

    <p>
        Somos un pequeño equipo de trabajo que busca renovar el área gastronomica desde el
        otro punto, no creando platillos, si no nuevas experiencias que sean beneficiosas y 
        muy buenas para el usuario.
        Este pequeño proyecto es preparado para gente que busca innovar su restaurante con
        nuevas ideas junto a la comodidad del cliente.
    </p>

    <p>
        Este trabajo es realizado por un equipo de solo 4 personas. <br><br>   
        <div class="Personal">
            <b>
                Valencia Hernández Monika. <br>
                Mejía Estrella Ailín. <br>
                Tiburcio Hernández Víctor Manuel. <br>
                
            </b>
        </div>
    </p>

</body>
</html>